<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Minubo_Interface>
      <version>0.0.1</version>
    </Minubo_Interface>
  </modules>
  <blocks>
    <interface>
      <rewrite>
        <interface>Minubo_Interface_Block_Interface</interface>
      </rewrite>
    </interface>
   </blocks>
  <global>
    <models>
      <minubo_interface>
        <class>Minubo_Interface_Model</class>
        <resourceModel>minubo_mysql4</resourceModel>
      </minubo_interface>
      <minubo_mysql4>
				<class>Minubo_Interface_Model_Mysql4</class>
				<entities>
					<categories>
						<table>catalog_category_flat_store_1</table>
					</categories>
					<regions>
						<table>directory_country_region</table>
					</regions>
					<products>
						<table>catalog_product_flat_1</table>
					</products>
				</entities>
     	</minubo_mysql4>
    </models>
    <!-- resources>
      <minuboface_setup>
        <setup>
          <module>Excellence_Test</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </minuboface_setup>
      <minuboface_write>
        <connection>
          <use>core_write</use>
        </connection>
      </minuboface_write>
      <minuboface_read>
        <connection>
          <use>core_read</use>
        </connection>
      </minuboface_read>
    </resources -->
    <helpers>
    	<minubo_interface>
        <class>Minubo_Interface_Helper</class>
      </minubo_interface>
  	</helpers>
  </global>
  <frontend>
     <routers>
        <magento_interface>
            <use>standard</use>
            <args>
               <module>Minubo_Interface</module>
               <frontName>minuboface</frontName>
            </args>
         </magento_interface>
     </routers>
     <layout>
       <updates>
         <interface>
            <file>interface.xml</file>
         </interface>
       </updates>
     </layout>
  </frontend>
</config>