<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Minubo_Interface>
			<version>1.0.10</version>
		</Minubo_Interface>
	</modules>
	<global>
		<models>
			<minubo_interface>
				<class>Minubo_Interface_Model</class>
				<resourceModel>minubo_mysql4</resourceModel>
			</minubo_interface>
			<minubo_mysql4>
				<class>Minubo_Interface_Model_Mysql4</class>
				<entities>
					<orders>
						<table>sales_flat_order</table>
					</orders>
					<sales_flat_order_address>
						<table>sales_flat_order_address</table>
					</sales_flat_order_address>
                    <sales_flat_order_payment>
                        <table>sales_flat_order_payment</table>
                    </sales_flat_order_payment>
                    <orderitems>
						<table>sales_flat_order_item</table>
					</orderitems>
					<categories>
						<table>catalog_category_flat_store_1</table>
					</categories>
					<categories2>
						<table>catalog_category_flat_store_2</table>
					</categories2>
					<categories3>
						<table>catalog_category_flat_store_3</table>
					</categories3>
					<customers>
						<table>customer_entity</table>
					</customers>
					<customeraddresses>
						<table>sales_flat_order_address</table>
					</customeraddresses>
					<orderaddresses>
						<table>sales_flat_order_address</table>
					</orderaddresses>
					<customer_address_entity>
						<table>customer_address_entity</table>
					</customer_address_entity>
					<customer_entity>
						<table>customer_entity</table>
					</customer_entity>
					<customer_group>
						<table>customer_group</table>
					</customer_group>
					<sales_flat_order>
						<table>sales_flat_order</table>
					</sales_flat_order>
					<sales_flat_order_item>
						<table>sales_flat_order_item</table>
					</sales_flat_order_item>
					<regions>
						<table>directory_country_region</table>
					</regions>
					<products>
						<table>catalog_product_flat_1</table>
					</products>
					<products2>
						<table>catalog_product_flat_2</table>
					</products2>
					<products3>
						<table>catalog_product_flat_3</table>
					</products3>
					<productcategories>
						<table>catalog_category_product_index</table>
					</productcategories>
					<productattributes>
						<table>catalog_product_entity</table>
					</productattributes>
					<eav_attribute>
						<table>eav_attribute</table>
					</eav_attribute>
					<catalog_product_entity_varchar>
						<table>catalog_product_entity_varchar</table>
					</catalog_product_entity_varchar>
					<eav_attribute_set>
						<table>eav_attribute_set</table>
					</eav_attribute_set>
					<creditmemos>
						<table>sales_flat_creditmemo</table>
					</creditmemos>
					<creditmemoitems>
						<table>sales_flat_creditmemo_item</table>
					</creditmemoitems>
					<invoices>
						<table>sales_flat_invoice</table>
					</invoices>
					<invoiceitems>
						<table>sales_flat_invoice_item</table>
					</invoiceitems>
				</entities>
			</minubo_mysql4>
		</models>
		<helpers>
			<minubo_interface>
				<class>Minubo_Interface_Helper</class>
			</minubo_interface>
		</helpers>
		<blocks>
			<minubo_interface>
				<class>Minubo_Interface_Block</class>
			</minubo_interface>
		</blocks>
		<!-- resources>
			<minuboface_setup>
				<setup>
					<module>Excellence_Test</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</minuboface_setup>
			<minuboface_write>
				<connection>
					<use>core_write</use>
				</connection>
			</minuboface_write>
			<minuboface_read>
				<connection>
					<use>core_read</use>
				</connection>
			</minuboface_read>
		</resources -->
	</global>
	<frontend>
		<routers>
			<magento_interface>
				<use>standard</use>
				<args>
					<module>Minubo_Interface</module>
					<frontName>minuboface</frontName>
				</args>
			</magento_interface>
		</routers>
		<layout>
			<updates>
				<interface>
					<file>interface.xml</file>
				</interface>
			</updates>
		</layout>
	</frontend>
</config>