<?xml version="1.0"?>
<config>
    <sections>
        <minubo_interface translate="label" module="minubo_interface">
            <label>Minubo Interface</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <sort_order>1000</sort_order>
            <groups>
                <settings translate="label">
                    <label>Minubo Interface Settings</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                    <![CDATA[
                        <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
                        This module was developed by <a href="http://www.minubo.com" target="_blank">www.minubo.com</a> - <b>smart metrics now.</b>
                        <br/>For docs & examples refer to the <a href="http://support.minubo.com" target="_blank">minubo support zone</a>.
                        <br/>Need more features in your minubo desktop? Visit <a href="http://www.minubo.com" target="_blank">minubo - smart metrics now.</a> for more information.</a>
                        </div>
                      ]]>
                    </comment>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <version translate="label">
                            <label>Minubo Interface Version</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>Minubo_Interface_Block_Adminhtml_Version</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </version>
                        <hash translate="label">
                            <label>Authorization-Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </hash>
                        <newhash>
                            <label>New Authorization-Code</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>minubo_interface/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </newhash>
                        <!-- output_type translate="label">
                            <label>Output type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Minubo_Interface_Model_Options_Options</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </output_type -->
                        <storeid translate="label">
                            <label>Store ID (optional, Default: 1)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </storeid>
                        <showemail translate="label">
                            <label>Show e-mail for CRM exports</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showemail>
                        <orderfields translate="label">
                            <label>Additional order-field (see sales_flat_order)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </orderfields>
                        <orderaddcost translate="label">
                            <label>Additional order-costs to be calculated to base_Shipping_Amount (f.e. "(o.base_Shipping_Amount+1.50)"; Default:[empty]=sales_flat_order.base_Shipping_Amount)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </orderaddcost>
                        <productcost translate="label">
                            <label>Calculated product-costs (f.e. "IFNULL(price, 0)*0.3"; Default:[empty]=catalog_product_flat_1.cost)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </productcost>
                        <productbrand translate="label">
                            <label>Additional product-field brand (see catalog_product_flat_1)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </productbrand>
                        <productorigin translate="label">
                            <label>Additional product-field country of origin (see catalog_product_flat_1)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </productorigin>
                        <productfields translate="label">
                            <label>Additional product-fields (comma-separated, see catalog_product_flat_1)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </productfields>
                        <attributefields translate="label">
                            <label>Additional product-attribute-fields (comma-separated, see eav_attribute.attribute_code -> catalog_product_entity_varchar)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </attributefields>
                        <lastexportstartdate translate="label">
                            <label>Last Export started at</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lastexportstartdate>
                        <lastexportenddate translate="label">
                            <label>Last Export ended at</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lastexportenddate>
                        <firstchangedate translate="label">
                            <label>Last Export from Change-Date</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </firstchangedate>
                        <lastchangedate translate="label">
                            <label>Last Export to Change-Date</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lastchangedate>
                    </fields>
                </settings>
            </groups>
        </minubo_interface>
    </sections>
</config>